<h4 class="font-weight-bold py-3 mb-4">
  <span class="text-muted font-weight-light">Products /</span>
  <span *ngIf="action">Add New</span>
  <span *ngIf="!action">Update</span>
</h4>

<div class="card mb-4">
  <h6 class="card-header">
    Default
  </h6>
  <div class="card-body">
    <form class="row">
      <div class="form-group col-md-12">
        <label class="form-label">Name <span id="require">*</span></label>
        <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="formObj.name">
      </div>
      <div class="form-group col-md-6">
        <label class="form-label">Cover Photo <span id="require">*</span> </label>
        <input type="file" class="form-control" (change)="upload($event)">
      </div>
      <div class="form-group col-md-6">
        <label for="category" class="form-label">Category <span id="require">*</span> </label>
        <select name="cat" id="category" class="form-control" [(ngModel)]="formObj.category">
          <option *ngFor="let item of categories;index as i" value="{{item['_id']}}">
            {{item['name']}}
          </option>
        </select>
      </div>
      <div class="form-group col-md-12">
        <label class="dscr">Description</label>
        <textarea name="desc" id="dscr" class="form-control" [(ngModel)]="formObj.description"></textarea>
      </div>

      <button type="submit" class="btn btn-default" (click)="create()" *ngIf="action">Submit</button>
      <button type="submit" class="btn btn-default" (click)="Update()" *ngIf="!action">Submit</button>

      <div class="form-group col-md-12">
        <img src="{{baseUrl}}/{{formObj.image}}" id="productImage" title="{{formObj.name}}" alt="">
      </div>

    </form>
  </div>
</div>
