<div class="row">
  <div class="col-md-6 col-12">
    <h4 class="font-weight-bold py-3 mb-4">
      <span class="text-muted font-weight-light">All /</span> Products
    </h4>
  </div>
  <div class="col-md-6 text-right">
    <button class="btn btn-primary" routerLink="/products/new"> Add More </button>
  </div>
</div>

<hr class="border-light container-m--x mt-0 mb-4">

<div class="demo-vertical-spacing">
  <div>
    <div class="row">
      <div class="col-sm-6 col-md-5 col-lg-3 mb-3 ml-auto">
        <input type="text" name="search" class="form-control" [(ngModel)]="searchText">
      </div>
    </div>


    <!-- Within card -->
    <div class="card">
      <div class="row" *ngIf="products?.length <= 0">
        <div class="col-md-12 text-center">
          <h6 class="card-header">
            No Data Available
          </h6>
        </div>
      </div>
      <h6 class="card-header" *ngIf="products?.length >= 1">
        All
      </h6>
      <div class="card-ngx-datatable table-responsive" *ngIf="products?.length >= 1">
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Cover Photo</th>
              <th>Category</th>
              <th>created At</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let item of products | filter : searchText;index as i">
              <td>{{i+1}}</td>
              <td>{{item?.name}}</td>
              <td><img src="{{baseUrl}}/{{item?.image}}" id="prodImage" alt=""></td>
              <td>{{item?.category?.name}}</td>
              <td>{{item?.createdAt | date:'mediumDate'}}</td>
              <td>
                <i class="fa fa-pencil" aria-hidden="true" routerLink="/products/{{item?._id}}"></i>
                <i class="fa fa-trash-o pl-2" aria-hidden="true" (click)="delete(item?._id)"></i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
