<div class="row">
  <div class="col-md-12 col-12">
    <h4 class="font-weight-bold py-3 mb-4">
      <span class="text-muted font-weight-light">All /</span> Orders
    </h4>
  </div>
</div>

<hr class="border-light container-m--x mt-0 mb-4">

<div class="demo-vertical-spacing">
  <div>
    <div class="row">
      <div class="col-sm-6 col-md-5 col-lg-3 mb-3 ml-auto">
        <input type="text" name="search" class="form-control" [(ngModel)]="searchText">
      </div>
    </div>


    <!-- Within card -->
    <div class="card">
      <div class="row" *ngIf="allOrders?.length <= 0">
        <div class="col-md-12 text-center">
          <h6 class="card-header">
            No Data Available
          </h6>
        </div>
      </div>
      <h6 class="card-header" *ngIf="allOrders?.length >= 1">
        All
      </h6>
      <div class="card-ngx-datatable table-responsive" *ngIf="allOrders?.length >= 1">
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th>
                #
              </th>
              <th>
                Date
              </th>
              <th>
                Status
              </th>
              <th>
                Customer
              </th>
              <th>
                Purchased
              </th>
              <th>
                Price
              </th>
              <th>
                Review
              </th>
              <th>
                Actions
              </th>
            </tr>
            <tbody>
              <tr *ngFor="let Items of allOrders| filter:searchText | paginate: config ;index as i">

                <td id="firstTd">
                  {{i+1}}
                </td>

                <td style="min-width: 130px !important;">
                  {{Items?.createdAt | date: 'd MMM h:mm a'}}
                </td>

                <td id="OrderStatus">
                  <span class="payment_pending" *ngIf="Items?.status == 'Payment Pending'">
                    {{Items?.status}}
                  </span>
                  <span class="not_applicable" *ngIf="Items?.status == 'Not Applicable'">
                    {{Items?.status}}
                  </span>
                  <span class="delivered" *ngIf="Items?.status == 'Received'">
                    {{Items?.status}}
                  </span>
                  <span class="payment_pending" *ngIf="Items?.status == 'Processing'">
                    {{Items?.status}}
                  </span>
                  <span class="shipped" *ngIf="Items?.status == 'Shipped'">
                    {{Items?.status}}
                  </span>
                  <span class="delivered" *ngIf="Items?.status == 'Delivered'">
                    {{Items?.status}}
                  </span>
                  <span class="will_not_deliver" *ngIf="Items?.status == 'Will Not Deliver'">
                    {{Items?.status}}
                  </span>
                  <span class="returned" *ngIf="Items?.status == 'Returned'">
                    {{Items?.status}}
                  </span>
                  <span class="ready_for_pickup" *ngIf="Items?.status == 'Ready For Pickup'">
                    {{Items?.status}}
                  </span>
                </td>

                <td id="OrderCustomer" style="min-width: 180px;">
                  <div *ngIf="Items.user">
                    <span class="pl-2" id="customerName"
                      *ngIf="Items?.user?.name?.length > 20">{{Items?.user?.name.substr(0,20)}} ..
                    </span>
                    <span class="pl-2" id="customerName"
                      *ngIf="Items?.user?.name?.length < 20">{{Items?.user?.name}}</span>
                  </div>
                </td>
                <td>
                  {{Items?.orderId}}
                </td>

                <td>
                  ${{Items?.totalAmount}}
                </td>
                <td>
                  <ngb-rating style="color: #ff9425;" *ngIf="Items[2] != null" [max]="5" [(rate)]="Items[2].stars"
                    [readonly]="true">
                  </ngb-rating>
                </td>
                <td>
                  <i class="fa fa-history pr-2" aria-hidden="true" (click)="open(historyProducts)" placement="top"
                    ngbTooltip="View history" (click)="orderActivity(Items._id)"></i>
                  <i class="fa fa-eye" aria-hidden="true" (click)="open(defaultModal)" placement="top"
                    ngbTooltip="View order" (click)="getProductsbyOrderId(Items._id,Items.status)"></i>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="col-md-12 text-right my-3">
          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal template -->
<ng-template #defaultModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">
      View Order <span class="font-weight-light">Information</span><br>
      <small class="text-muted">We need payment information to process your order.</small>
    </h5>
    <button type="button" class="close" (click)="d('Cross click')">&times;</button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Icon</th>
          <th>Quantity</th>
        </tr>
        <tr *ngFor="let product of products;index as i">
          <td>{{i+1}}</td>

          <td *ngIf="product?.nofromCatalog">
            {{product?.productName}}
          </td>

          <td *ngIf="product?.product?.name?.length > 20 && !product?.nofromCatalog">
            <div>{{product?.product?.name.substr(0,20)}}..</div>
            <ng-template *ngIf="product?.data != null">
              <span *ngFor="let items of extractNameFromJson(product?.data)" id="data_baige">{{items}}</span>
            </ng-template>
          </td>
          <td *ngIf="product?.product?.name?.length <= 20 && !product?.nofromCatalog">
            <div>{{product?.product?.name}}</div>
            <ng-template *ngIf="product?.data != null">
              <span *ngFor="let items of extractNameFromJson(product?.data)" id="data_baige">{{items}}</span>
            </ng-template>
          </td>

          <td>
            <img src="{{baseUrl}}/{{product?.product?.image[0].image}}" alt="" id="image">
          </td>
          <td>{{product?.quantity}}</td>
        </tr>
      </table>
      <div>
        <h4 class="my-3">Payment Method</h4>

        <span class="delivered" *ngIf="singleOrder?.orderType == 'tap'">
          Debit/Credit Card
        </span>
        <span class="delivered" *ngIf="singleOrder?.orderType == 'pfs'">
          Pick up from store
        </span>
        <span class="delivered" *ngIf="singleOrder?.orderType == 'cod'">
          Cash on delivery
        </span>
        <span class="delivered" *ngIf="singleOrder?.orderType == 'bd'">
          Bank transfer
        </span>
        <span class="delivered" *ngIf="singleOrder?.orderType == 'benefit'">
          Benefit Pay
        </span>
      </div>
    </div>
    <br><br>
    <div class="row mb-4">
      <div class="col-md-12">
        <form style="margin: 0px 0px 75px 0px;">
          <div class="form-group">
            <label for="">Change Order Status</label>
            <select class="form-control" name="status" [(ngModel)]="OrderStatus">
              <option value="Payment Pending">Payment Pending</option>
              <option value="Shipped">Shipped</option>
              <option value="Delivered">Delivered</option>
            </select>
          </div>

          <div class="form-group">
            <button class="btn" (click)="SaveNow()"> Save Now </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="c('Close click')">Close</button>
  </div>
</ng-template>




<ng-template #historyProducts let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">
      View History <span class="font-weight-light">Information</span><br>
      <!-- <small class="text-muted"></small> -->
    </h5>
    <button type="button" class="close" (click)="d('Cross click')">&times;</button>
  </div>
  <div class="modal-body">
    <div class="table-responsive" *ngIf="orderActiviti?.length >= 1">
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Status</th>
          <th>Order</th>
          <th>Customer</th>
          <th>Amount</th>
        </tr>
        <tr *ngFor="let Items of orderActiviti;index as i">
          <td>#{{i+1}}</td>
          <td>{{Items?.status}}
            <div id="dateLabel">
              {{Items?.createdAt | date: 'EEEE, MMMM , y a' }}
            </div>
          </td>
          <td>{{Items?.order?.status}}
            <div id="dateLabel">
              {{Items?.order?.createdAt | date: 'EEEE, MMMM , y a' }}
            </div>
          </td>
          <td *ngIf="Items?.order?.customer && Items?.order?.shop">
            <p>{{Items?.order?.customer?.name}}</p>
          </td>
          <td *ngIf="!Items?.order?.customer && Items?.order?.shop">
            <p>{{Items?.order?.shop?.name}}</p>
          </td>
          <td>{{Items?.order?.totalAmount}}</td>
        </tr>
      </table>
    </div>
    <div *ngIf="orderActiviti?.length <= 0">
      <p class="text-center">No-History-found</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
